.MixerContent{
    width: 100%;
    padding: 2%;
    margin-right: 4%;
    /* background-color: rgba(224, 220, 198, 0.932); */
    background-image: url(../../assets/scroll.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 600px;
    text-align: center;
    /* display: inline-block; */
    margin: auto;
    /* position: absolute; */
    /* top: 0%;
    right: 4%; */

    color: purple;
    overflow: scroll;
 
}


button{
    padding: 4%;
    background: radial-gradient(circle, rgba(175, 78, 255, 0.777) 0%, rgba(97, 20, 112, 0.782) 100%); 
    color: white;
}

.Bold{
    font-weight: bold;
}
.InnerContent {
    margin-top: 10%;;
}

.ShowMixer{
/* display: inline; */

}

.HideMixer{
display: none;

}
.MixerContent p{
  
    width: 60%;
    margin: auto;
    line-height: 30px;
    font-family: sans-serif;
    /* font-family: cursive; */
    
}

@media(min-width: 500px) and (min-height :400px){
 .MixerContent{
   

 }

}

@media(min-width: 600px) and (min-height :401px){
 .MixerContent{
 position: absolute; 
     top: 0%;
    right: 4%;
    width: 30%;
    margin-top: 2%;
    overflow: auto;
 }

}
@media(min-width: 1000px) and (min-height :700px){
 
   .MixerContent{
    position: absolute; 
     top: 0%;
    right: 4%;
    width: 30%;
    margin-top: 2%;
    overflow: auto;



 } 

}